html {
	--color-moon: #ccc;
	--color-star: #ccc;
	--color-cloud: #fff;
	--color-na: #fff;
	--color-fog: #fff;
	--color-hail: #fff;
	--color-tornado: #fff;
	--color-wind: #fff;
	--color-storm: #fff;
	--color-lightning: #e8ce05;
	--color-sun: #e8ce05;
	--color-drop: #6adef8;
	--color-snowflake: #fff;
	--color-thunderstorm-mask: #2b2b2b;
	overflow: hidden;
}

body {
	line-height: normal !important;
}

.fill-primary {
	background-color: #17a2b8;
}

.fill-success {
	background-color: #28a745;
}

.fill-warning {
	background-color: #ffc107;
}

.fill-primary {
	background-color: #007bff;
}

.fill-info-light {
	background-color: #17a2b880;
}

.fill-success-light {
	background-color: #28a74580;
}

.fill-warning-light {
	background-color: #ffc10780;
}

.fill-primary-light {
	background-color: #007bff80;
}

.h-100percent {
	position: static;
	height: 100%;
}

.center-vertically {
	position: relative;
	top: 50%;
	transform: translate(0, -50%);
}

.center-horizontally {
	position: relative;
	left: 50%;
	transform: translate(-50%, 0);
}

.center {
	position: relative;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.weather .text-big {
	font-size: 6vh;
	height: 10%;
}

.weather .text {
	font-size: 4vh;
}

.weather .text-very-big {
	font-size: 12vh;
}

.weather .text-half-big {
	font-size: 4.5vh;
}

.text-blue {
	color: blue;
	font-weight: bold;
}

.text-red {
	color: rgb(182, 23, 23);
	font-weight: bold;
}

.bigger-icon {
	position: relative;
	height: 125%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.bottom-left {
	position: absolute;
	right: 5%;
	bottom: 5%;
	height: 15%;
	width: 50%;
	font-size: 200%;
}

.modal-header * {
	font-size: 7vh;
}

.font-bigger {
	font-size: 3vh;
}

.white-text {
	color: white;
}

.font-temperatures-list {
	font-size: 5vh;
}

.font-temperatures-title {
	font-size: 7vh;
	font-weight: bold;
}

.no-link-format {
	color: inherit;
}

.no-link-format:hover {
	color: black;
	text-decoration: none;
}

.font-size-normale {
	font-size: medium;
}

.spinner-border {
	font-size: medium;
}

/* PAGE-RELATED HEIGTHS */

.h-11vh {
	height: 11vh;
	font-size: 5.5vh;
}

.h-15 {
	height: 15vh;
}

.h-33vh {
	height: 33vh;
	font-size: 16.5vh;
}

.h-30 {
	height: 30vh;
}

.h-55 {
	height: 55vh;
}

.h-85 {
	height: 85vh;
}

/* PERCENTAGE HEIGHTS */

.h-1percent {
	height: 1%;
}

.h-3percent {
	height: 3%;
}

.h-12percent {
	height: 12%;
}

.h-25percent {
	height: 25%;
}

.h-30percent {
	height: 30%;
}

.h-33percent {
	height: 33.3333333%;
}

.h-33percent.py-1 {
	height: calc(33.3333333% + 1rem/6);
}

.h-33percent.pt-1, .h-33percent.pb-1 {
	height: calc(33.3333333% - 1rem/12);
}

.h-35percent {
	height: 35%;
}

.h-40percent {
	height: 40%;
}

.h-50percent {
	height: 50%;
}

.h-60percent {
	height: 60%;
}

.h-65percent {
	height: 65%;
}

.h-70percent {
	height: 70%;
}

.h-75percent {
	position: relative;
	top: 0;
	height: 75%;
}

.h-100percent.my-2 {
	height: calc(100% - 1rem);
}

.w-90percent-right {
	position: relative;
	width: 90%;
	left: 10%;
}

.w-90percent-left {
	position: relative;
	width: 90%;
}

p {
	font-family: "Segoe UI";
}

svg {
	max-width: 100%;
	max-height: 100%;
	position: relative;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.modal-dialog,
.modal-content {
	height: 80%;
}

.modal-body {
	height: 100%;
}

.w-100percent {
	width: 100%;
}

.w-50percent {
	width: 50%;
}

.pos-abs {
	position: absolute;
}
